* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

a {
    text-decoration: none;
}

img {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.gallery a {
    margin: 15px;
}

.gallery a img {
    transition: transform 1s;
}

.gallery a img:hover {
    transform: rotate(-20deg);
}

h1, h2 {
    text-align: center;
}